:root {
  --color-grass: #066506;
  --color-teal: #17BEBB;
  --color-darkgray: #2E282A;
  --color-red: #B32828;
  --color-orange: #CD5334;
  --color-lightyellow: #EDB88B;
  --color-mistyrose: #FAD8D6;
}
html, body {
  min-height: 100%;
  touch-action: pan-y; /* disable iphone tap-to-zoom */
  user-select: none;
  -webkit-user-select: none;
}
body {
  margin: 0;
  padding: 10px;
  background-color: var(--color-teal);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}
header {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-orange);
  padding: 10px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-orange);
}
button { /* button style reset */
  background: none;
  border: none;
  border-radius: 0;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.primary-button {
  background-color: var(--color-orange);
  box-shadow: 2px 2px 0px var(--color-teal);
  padding: 5px;

  color: var(--color-darkgray);
  font-weight: bold;
  line-height: 24px;
}
.currency-negative,
.income-negative {
  color: var(--color-red);
}
.icon {
  font-family: 'Material Symbols Outlined';
}

/* TOPBAR */
.topbar_container {
  padding: 10px;

  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);

  position: fixed;
  z-index: 1;
  top: 0; left: 0; right: 0;
  height: 50px;

  display: flex;
  gap: 10px;
}
.topbar_ceo-portrait {
  height: 50px;
  width: 50px;
  flex: 0 0 50px;
  border-radius: 10px;
}
.topbar_resources {
  flex: 1 1 auto;
}
.topbar_timer {
  color: var(--color-red);
  font-size: 30px;
  line-height: 50px;
  padding: 0 10px;
}
.topbar_actions {
  height: 50px;
  width: 50px;
  flex: 0 0 50px;
  font-size: 40px; /*icon size*/
}

/* DEPARTMENT LIST */

.dep-list_container {}

.add-dep-selector_container {
  padding: 10px;
  margin: 12px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}
.add-dep-selector_cta {
  display: flex;
  line-height: 50px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.add-dep-selector_cta > .material-symbols-outlined {
  font-size: 50px;
  margin-right: 5px;
}
.add-dep-selector_list{
  height: 80px;
  display: flex;
  flex-direction: row;
}
.add-dep-selector_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.add-dep-selector_option > .material-symbols-outlined {
  font-size: 50px;
}
.add-dep-selector_label {
  font-size: 12px;
  text-align: center;
}

/* OVERVIEW */
.dep-overview_container {
  padding: 5px 10px;
  margin: 10px 0px;

  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);

  display: flex;
  position: relative;
}
.dep-overview_container.highlight {
  background-color: var(--color-grass);
}
.dep-overview_description .material-symbols-outlined {
  font-size: 14px;
}
.dep-overview_container .dep-overview_icon {
  font-size: 50px;
  margin-right: 5px;
}
.dep-overview_name {
  font-weight: 700;
}
.dep-overview_resources {
  flex: 1 1 auto;
  height: 100%;
  max-height: 66px;
  overflow: hidden;
}
.dep-overview_employees {}
.dep-overview_bankrupt,
.dep-overview_cash-negative {
  color: var(--color-red);
}
.dep-overview_ticks {
  display: none;
}
.dep-overview_action {
  font-size: 20px;
  height: 50px;
  width: 50px;
}

/* ARROW */
.dep-overview_arrow {
  position: absolute;
  width: 10px;
  background-color: var(--color-mistyrose);
}
.dep-overview_endpoint {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  left: -5px;
  top: -5px;
  background-color: var(--color-mistyrose);
  color: var(--color-darkgray);
  font-family: 'Material Symbols Outlined';
  font-size: 19px;
  line-height: 19px;
}

/* DEP DETAILS */
.dep-details_overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.74);
}
.dep-details_container {
  position: fixed;
  z-index: 3;
  top: 15%;
  bottom: 15%;
  left: 5%;
  right: 5%;

  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);

  padding: 10px;
}
.dep-details_container .dep-overview_description {
  font-style: italic;
}
.dep-details_action {
  margin: 5px;
}

/* ALERTS */
.alert-list_alert-container {
  padding: 5px 10px;
  margin: 10px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}
.alert-list_alert-container button {
  margin-left: 5px;
}

/* BIGNUMBERS */
.currency-positive {}
.currency-negative {}
.income-positive {
  color: var(--color-grass);
}
.income-negative {
  color: var(--color-red);
}
.bignumber-positive {}
.bignumber-negative {}