:root {
  --color-teal: #17BEBB;
  --color-darkgray: #2E282A;
  --color-red: #B32828;
  --color-orange: #CD5334;
  --color-lightyellow: #EDB88B;
  --color-mistyrose: #FAD8D6;
}

html {
  touch-action: none;
}
body {
  touch-action: pan-x pan-y; /* disable iphone tap-to-zoom */
  user-select: none;
  -webkit-user-select: none;
}
body {
  margin: 0;
  padding: 10px;
  background-color: var(--color-teal);
  font-family: 'Josefin Sans', sans-serif;
}
header {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-orange);
  padding: 10px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-orange);
}
button { /* button style reset */
  background: none;
  border: none;
  border-radius: 0;
  font-style: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.primary-button {
  background-color: var(--color-orange);
  box-shadow: 2px 2px 0px var(--color-teal);
  padding: 5px;

  color: var(--color-darkgray);
  font-weight: bold;
  line-height: 24px;
}
.dep-list_container {}

.add-dep-selector_container {
  padding: 10px;
  margin: 12px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}
.add-dep-selector_cta {
  display: flex;
  line-height: 50px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.add-dep-selector_cta > .material-symbols-outlined {
  font-size: 50px;
  margin-right: 5px;
}
.add-dep-selector_list{
  height: 80px;
  display: flex;
  flex-direction: row;
}
.add-dep-selector_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}
.add-dep-selector_option > .material-symbols-outlined {
  font-size: 50px;
}
.add-dep-selector_label {
  font-size: 12px;
  text-align: center;
}

/* OVERVIEW */
.dep-overview_container {
  padding: 10px;
  margin: 12px 0px;

  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);

  display: flex;
}
.dep-overview_description .material-symbols-outlined {
  font-size: 14px;
}
.dep-overview_container .dep-overview_icon {
  font-size: 50px;
  margin-right: 5px;
}
.dep-overview_name {
  font-weight: 700;
}
.dep-overview_resources {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
}
.dep-overview_employees {}
.dep-overview_bankrupt,
.dep-overview_cash-negative,
.dep-overview_loss {
  color: var(--color-red);
}
.dep-overview_ticks {
  display: none;
}
.dep-overview_expand {
  height: 55px;
  width: 55px;
}
.dep-overview_action {
  height: 55px;
  width: 55px;
}

/* DEP DETAILS */
.dep-details_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.74);
}
.dep-details_container {
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 5%;
  right: 5%;

  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);

  padding: 10px;
}
.dep-details_container .dep-overview_description {
  font-style: italic;
}
.dep-details_action {
  margin: 5px;
}

/* ALERTS */
.alert-list_alert-container {
  padding: 10px;
  margin: 12px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}