:root {
  --color-teal: #17BEBB;
  --color-darkgray: #2E282A;
  --color-orange: #CD5334;
  --color-lightyellow: #EDB88B;
  --color-mistyrose: #FAD8D6;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--color-teal);
  font-family: 'Josefin Sans', sans-serif;
}
header {
  font-size: 40px;
  font-weight: bold;
  color: var(--color-orange);
  padding: 10px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-orange);
}
.dep-list_container {}
.add-dep-selector_container {
  padding: 10px;
  margin: 12px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}
.dep-overview_container {
  padding: 10px;
  margin: 12px 0px;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 0px var(--color-lightyellow);
  color: var(--color-mistyrose);
}
.dep-overview_container > .material-symbols-outlined {
  float: left;
  font-size: 50px;
  margin-right: 5px;
}
.dep-overview_name {
  font-weight: 700;
}
.dep-overview_employees {}
.dep-overview_cash {}
.dep-overview_ticks {
  display: none;
}
.dep-overview_action {
  background-color: var(--color-orange);
  border-radius: 0;
  box-shadow: 2px 2px 0px var(--color-teal);
  padding: 5px;

  color: var(--color-darkgray);
  font-family: inherit;
  font-weight: bold;
  line-height: 24px;

  display: flex;
}